<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://marcopautoindex.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6f05198f-0aa6-4d43-8831-799e56b52e60/resourceGroups/marcopAutoIndex_group/providers/Microsoft.Web/sites/marcopAutoIndex</ResourceId>
    <UserName>$marcopAutoIndex</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://marcopautoindex.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>